<div class="nav-links">
  <div class="back">
    <%= link_to "<< Back", root_path  %>
  </div>
  <div class="message-header">
    <h2 class="text-center"> <%= @room.name %> room</h2>
  </div>
</div>

<div class="half">
  <% if @messages.count == 0 %>
      <h3 class="text-center">Page is empty</h3>
  <% end %>

  <% @messages.each do |message| %>
      <div class="room-container well">
        <% if message.user.avatar? %>
            <div class="round-image-50 in-message"><%= image_tag(message.user.avatar.url(:thumb)) %></div>
        <% else %>
            <div class="round-image-50 in-message"><%= image_tag("no-avatar.jpg") %></div>
      <% end %>
        <div class="room-info">
          <div class="room-name">
            <h4><%= message.text %></h4>
          </div>
          <div class="room-creator">
            <span>Created by: <%= message.user.email %></span>
          </div>
          <div class="room-date">
            <%= message.created_at.to_date %>
          </div>
        </div>
        <% if current_user && current_user.id == message.user.id  %>
            <div class="room-links">
              <div class="room-link">
                <%= link_to "Edit", edit_room_message_path(@room, message)  %>
              </div>
              <div class="room-link">
                <%= link_to "Delete", [@room, message], method: :delete, remote: true, class: "delete-link" %>
              </div>
            </div>
        <% end %>
      </div>
  <% end %>
</div>

<div class="new-message well">
  <%= render 'messages/new'%>
</div>
